<app-navbar></app-navbar>
<!-- END-HEADER -->
<section id="breadcrumb">
    <div class="container-fluid">
        <div class="breadcrumb-content bg-breadcrumb-service">
            <div class="caption">
                <div class="title_header">บริการ</div>
                <hr class="line-under-name">
            </div>
        </div>
    </div>
</section>
<!-- BLOG ZIGZAG -->
<section class="blog-zigzag ">
    <div class="container">
        <div class="wpb_wrapper">
            <div class="row">
                <div class="item-zigzag clearfix">
                    <div class="col-sm-6 col-xs-12 col-sm-push-6">
                        <div class="post-standard">
                            <a href="#">
                                <figure><img src="assets/images/service/1.PNG"
                                        alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 feature-content col-sm-pull-6">
                        <p class="blog_title"><a href="#">เกียรติสินช้อปปิ้งออนไลน์ <br> (ขายปลีกออนไลน์)</a></p>
                        <p class="blog_content">
                            ทางร้านเกียรติสินโฮลเซลมีบริการสั่งซื้อสินค้าออนไลน์เพื่ออำนวยความสะดวกให้กับลูกค้า
                            และลดระยะเวลาในการเดินทางมาซื้อสินค้าด้วยตนเอง ลูกค้ายังสามารถสั่งซื้อสินค้าได้ทุกเวลา
                            อีกทั้งลูกค้าได้พิจารณา ราคาสินค้า โปรโมชั่น หรือรีวิว ก่อนการสั่งซื้อเพื่อให้เกิดความมั่นใจ
                            ในตัวร้านค้า ซึ่งมีหลากหลายช่องทางให้ลูกค้าได้เลือก Shopping ได้แก่
                            เพจ Facebook ชื่อเพจ เกียรติสินโฮลเซล Kiatsinwholesale
                            ทาง LAZADA ชื่อร้าน lovelovebaby.k
                            ทาง Shopee ชื่อร้าน Kiatsinonline
                        </p>
                    </div>
                </div>
                <div class="item-zigzag clearfix">
                    <div class="col-sm-6 col-xs-12 ">
                        <div class="post-standard">
                            <a href="#">
                                <figure><img src="assets/images/service/2.PNG"
                                        alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 feature-content ">
                        <p class="blog_title"><a href="#">บีทูบีออนไลน์ <br> (ขายส่งออนไลน์) </a></p>
                        <p class="blog_content">
                            บริษัทเกียรติสินโฮลเซลมีบริการขายส่งออนไลน์ จัดขึ้นเพื่ออำนวยความสะดวกให้กับลูกค้า
                            ในกลุ่มผู้ประกอบการซึ่งลูกค้าสามารถสอบถาม รับทราบเรทราคาต่างๆได้
                            และลดเวลาในการโทรเข้าบริษัทเพื่อสอบถาม ส่วนใหญ่เน้นการจองสินค้าผ่านทางเว็ปไซต์ ลูกค้าต้องแลก
                            Username / Password เพื่อ Log in
                            และยืนยันตัวตนในการจองสินค้าและลูกค้าต้องมารับสินค้าด้วยตนเอง </p>

                    </div>
                </div>
                <div class="item-zigzag clearfix">
                    <div class="col-sm-6 col-xs-12 col-sm-push-6">
                        <div class="post-standard">
                            <a href="#">
                                <figure><img src="assets/images/service/3.PNG"
                                        alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 feature-content col-sm-pull-6">
                        <p class="blog_title"><a href="#">บริการขนส่งสินค้า</a></p>
                        <p class="blog_content">
                            เป้าหมายของเราคือ การให้บริการส่งสินค้าที่มีคุณภาพและสะดวกรวดเร็ว เราพร้อมให้บริการทุกวัน
                            ไม่เว้นวันหยุด เสาร์
                            อาทิตย์และวันหยุดนักขัตฤกษ์เป็นบริการจัดส่งถึงที่บ้านเพียงแค่ลูกค้าโทรสั่งสินค้าหรือทักแชต
                            สั่งซื้อสินค้าผ่านทาง Facebook page และแจ้ง Locationที่ต้องการให้ไปส่ง
                            ก็จะมีพนักงานของร้านนำสินค้าไปส่งให้กับลูกค้า
                        </p>
                    </div>
                </div>
                <div class="item-zigzag clearfix">
                    <div class="col-sm-6 col-xs-12 ">
                        <div class="post-standard">
                            <a href="#">
                                <figure><img src="assets/images/service/4.PNG"
                                        alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 feature-content ">
                        <!-- <div class="oct_top_featured_content">
                            <span class="oct_day">February 22, 2017</span>
                        </div> -->
                        <p class="blog_title"><a href="#">บริการรับสั่งซื้อสินค้าทางโทรศัพท์</a></p>
                        <p class="blog_content">
                            สำหรับลูกค้าที่ไม่สะดวกซื้อสินค้าทางออนไลน์อีกหนึ่งทางเลือกคือการโทรสั่งสินค้า หรือลูกค้าสามารถโทรสอบถามรายระเอียดของสินค้าหรือสอบถามราคาได้</p>
                    </div>
                </div>
                <div class="item-zigzag clearfix">
                    <div class="col-sm-6 col-xs-12 col-sm-push-6">
                        <div class="post-standard">
                            <a href="#">
                                <figure><img src="assets/images/service/5.PNG"
                                        alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 feature-content col-sm-pull-6">
                        <!-- <div class="oct_top_featured_content">
                            <span class="oct_day">February 22, 2017</span>
                        </div> -->
                        <p class="blog_title"><a href="#">บริการรับจัดกระเช้าและห่อของขวัญ</a></p>
                        <p class="blog_content">
                            ร้านเกียรติสินโฮลเซลจะจัดบริการนี้เฉพาะเทศกาลปีใหม่หรือเดือนธันวาคม</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>