<app-navbar></app-navbar>

<div class="item-zigzag clearfix contact-v1">
    <div class="col-sm-6 col-xs-12 ">
        <div class="post-standard">
            <a>
                <figure><img src="assets/images/lanmittraphap/image_1@2x.png" alt="" class="img-responsive"></figure>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 feature-content ">
        <div class="wrap-left">
            <p class="content">โครงการ ลานมิตรภาพ - 1</p>
              <p class="content-detail">ความเป็นมาของโครงการ โดยแรงบันดาลใจเริ่มต้นในการทําโครงการนี้มาจาก ความต้องการที่จะแสดงออกถึง ความภาคภูมิใจ ที่เกิดมาใต้พระบรมโพธิสมภาร 
               ในหลวงรัชกาลที่ 9 ความรักบ้าน เกิด และความเป็นชาวอีสาน ต้องการนําเสนอตัวตนและคุญค่าที่ แท้จริงของความเป็นอิสาน, ของบ้านเกิด และ มูลค่าอันแท้จริง 
               ของผลิตภัณฑ์ ทางการเกษตร ของทางเกียติสิน ผ่านทาง ลักษณะ และกิจกรรมต่างๆที่จะเกิดขึ้นในโครงการ โดยภายใน โครงจะแบ่ง การใช้สอยพื้นที่ต่างๆ ดังนี้</p>
        </div>
    </div>
</div>

<div class="item-zigzag clearfix contact-v2">
    <div class="col-sm-6 col-xs-12 col-sm-push-6">
        <div class="post-standard">
            <a>
                <figure><img src="assets/images/lanmittraphap/image_2@2x.png" alt="" class="img-responsive"></figure>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 feature-content col-sm-pull-6">
        <div class="wrap-right">
            <p class="content">ส่วนประกอบโครงการ</p>      
            <p class="content-detail">1. หัวจ่ายน้ำมสั้น <br> 2. ห้องน้ำ <br> 3. ร้านสะดวกซื้อ <br> 4. ถังเก็บนมัน <br>
                5. โรงอาหาร <br> 6. ร้านของฝาก <br> 7. Drive Thru <br> 8. ร้านอาหาร <br> 9. ร้านขายของเกษตรกร <br> 10. แปลงนา, ลานกิจกรรม <br> 11. โรงเรือน  </p>
        </div>
    </div>
</div>

<div class="item-zigzag clearfix contact-v1">
    <div class="container">
        <div class="wrap-left">
            <p class="content">โรงอาหาร</p>
        </div>
         <div class="row">
             <div class="wrap-right pull-right">
                <img src="assets/images/lanmittraphap/image_3@2x.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>

<div class="item-zigzag clearfix contact-v2">
    <div class="container">
        <div class="">
            <p class="content">ทางเดินในโครงการ</p>
        </div>
         <div class="row">
             <div class="wrap-right pull-right">
                <img src="assets/images/lanmittraphap/image_4@2x.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>

<div class="item-zigzag clearfix contact-v1">
    <div class="container">
        <div class="">
            <p class="content">แปลงสาธิต และ โรงเรือน</p>
        </div>
         <div class="row">
             <div class="wrap-right pull-right">
                <img src="assets/images/lanmittraphap/image_5@2x.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>

<div class="item-zigzag clearfix contact-v2">
    <div class="container">
        <div class="">
            <p class="content">จุดชมวิวในโครงการ</p>
        </div>
         <div class="row">
             <div class="wrap-right pull-right">
                <img src="assets/images/lanmittraphap/image_6@2x.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>
  
<app-footer></app-footer>