<app-navbar></app-navbar>
<div class="wishlist-page">

    <section id="breadcrumb">
        <div class="container-fluid">
            <div class="breadcrumb-content bg-breadcrumb-reward">
                <div class="caption">
                    <div class="title-wallpaper">รางวัลและเกียรติประวัติ</div>
                    <hr class="line-under-name">
                </div>
            </div>
        </div>
    </section>

    <div class="text-center title">รางวัลและเกียรติประวัติ</div>
    <section class="blog-zigzag ">
        <div class="container">
            <div class="wpb_wrapper">
                <div class="row">
                    <div class="item-zigzag clearfix">
                        <div class="col-sm-3 col-xs-12 ">
                            <div class="post-standard">
                                <figure><img src="assets/images/award/1.jpg"
                                        alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12 feature-content">
                            <p class="title">รางวัล FIN.ดี HAPPY LIFE</p>
                            <p class="blog_title">29 สิงหาคม 2563</p>
                            <p class="blog_content">
                                ธนาคารแห่งประเทศไทย ได้มอบโล่เกียรติคุณให้แก่ บริษัทเกียรติสินโฮลเซล จำกัด เพื่อแสดงว่า
                                บริษัทเกียรติสินโฮลเซลได้รับรางวัลจาก ‘ธนาคารแห่งประเทศไทย’ ระดับ 5 ดาวจากโครงการ Fin.ดี
                                Happy Life รางวัลหน่วยงาน ส่งเสริมสุขภาพการเงินของพนักงานยอดเยี่ยม
                            </p>
                        </div>
                    </div>

                    <div class="item-zigzag clearfix">
                        <div class="col-sm-3 col-xs-12 ">
                            <div class="post-standard">
                                <figure><img src="assets/images/award/2.jpg"
                                        alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12 feature-content">
                            <p class="title">รางวัลสถานประกอบกิจการมีผลิตภาพแรงงานสูงผ่านเกณฑ์</p>
                            <p class="blog_title">5 กันยายน 2562</p>
                            <p class="blog_content">
                                กระทรวงแรงงานโดยกรมพัฒนาฝีมือแรงงานได้มอบโล่ประกาศเกียรติคุณให้แก่ บริษัท
                                เกียรติสินโฮลเซล จำกัด เพื่อแสดงว่า
                                สถานประกอบกิจการมีผลิตภาพแรงงานสูงผ่านเกณฑ์มาตรฐานภายใต้โครงการเพิ่มผลิตภาพแรงงานสู่ SME
                                4.0 (STEM Workforce towards SME 4.0) และมีพนักงานในสถานประกอบกิจการ มีผลิตภาพแรงงานสูง
                            </p>
                        </div>
                    </div>

                    <div class="item-zigzag clearfix">
                        <div class="col-sm-3 col-xs-12 ">
                            <div class="post-standard">
                                <figure><img src="assets/images/award/3.jpg"
                                        alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12 feature-content">
                            <p class="title">รางวัลชนะเลิศ DE AWARDS (Digital Entrepreneur Awards) Thailand Software
                                Fair 2018</p>
                            <p class="blog_title">29 พฤศจิกายน 2561</p>
                            <p class="blog_content">
                                สมาคมอุตสาหกรรมซอฟแวร์ไทยได้มอบโล่รางวัลชนะเลิศ DE AWARDS กลุ่มอุตสาหกรรมค้าปลีก-ส่ง
                                ให้แก่ บริษัท เกียรติสินโฮลเซล จำกัด เพื่อแสดงว่า บริษัท เกียรติสินโฮลเซล จำกัด
                                ใช้ซอฟต์แวร์ไทยจนประสบความสำเร็จ ลดต้นทุน ป้องกันทุจริต และต่อยอดธุรกิจได้อย่างยั่งยืน
                            </p>
                        </div>
                    </div>

                    <div class="item-zigzag clearfix">
                        <div class="col-sm-3 col-xs-12 ">
                            <div class="post-standard">
                                <figure><img src="assets/images/award/4.jpg"
                                        alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12 feature-content">
                            <p class="title">รางวัลผู้สนับสนุนโครงการ BRAND’S Summer Camp</p>
                            <p class="blog_title">18 ตุลาคม 2560</p>
                            <p class="blog_content">
                                โครงการแบรนด์ซัมเมอร์แคมป์ครั้งที่ 29 ได้มอบโล่ชูเกียรติให้แก่ บริษัท เกียรติสินโฮลเซล
                                จำกัด เพื่อแสดงว่า บริษัทเกียรติสินโฮลเซล
                                เป็นผู้สนับสนุนในโครงการแบรนด์ซัมเมอร์แคมป์ครั้งที่ 29 </p>
                        </div>
                    </div>

                    <div class="item-zigzag clearfix">
                        <div class="col-sm-3 col-xs-12 ">
                            <div class="post-standard">
                                <figure><img src="assets/images/award/5.jpg"
                                        alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12 feature-content">
                            <p class="title">รางวัลผู้ช่วยเหลือสนับสนุนกิจการทหารผ่านศึก</p>
                            <p class="blog_title">3 กุมภาพันธ์ 2559</p>
                            <p class="blog_content">
                                สำนักงานสงเคราะห์ทหารผ่านศึกเขตขอนแก่น ได้มอบประกาศเกียรติคุณให้แก่ บริษัท
                                เกียรติสินโฮลเซล จำกัด เพื่อแสดงว่า บริษัท เกียรติสินโฮลเซล
                                เป็นผู้ช่วยเหลือสนับสนุนกิจการทหารผ่านศึก </p>
                        </div>
                    </div>

                    <div class="item-zigzag clearfix">
                        <div class="col-sm-3 col-xs-12 ">
                            <div class="post-standard">
                                <figure><img src="assets/images/award/6.jpg"
                                        alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12 feature-content">
                            <p class="title">รางวัลดีเด่น ด้านภาวะผู้นำและการรวมกลุ่ม
                                และด้านการจัดการกระบวนการและโลจิสติกส์ ประจำปี 2013</p>
                            <p class="blog_title">1 ธันวาคม 2556</p>
                            <p class="blog_content">
                                กรมพัฒนาธุรกิจการค้าได้มอบโล่ประกาศเกียรติคุณให้แก่ บริษัท เกียรติสินโฮลเซล จำกัด
                                เพื่อแสดงว่า บริษัทเกียรติสินโฮลเซลได้รับรางวัล ธุรกิจค้าส่งคุณภาพ ดีเด่น
                                ด้านภาวะผู้นำและการรวมกลุ่มและด้านการจัดการกระบวนการโลจิสติกส์ประจำปี 2013</p>
                        </div>
                    </div>

                    <div class="item-zigzag clearfix">
                        <div class="col-sm-3 col-xs-12 ">
                            <div class="post-standard">
                                <figure><img src="assets/images/award/7.jpg"
                                        alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12 feature-content">
                            <p class="title">รางวัลการสนับสนุนในการจัดการอาชีวศึกษา</p>
                            <p class="blog_title">26 มกราคม 2554</p>
                            <p class="blog_content">
                                สำนักงานคณะกรรมการการอาชีวศึกษาได้มอบประกาศเกียรติคุณ
                                ให้แก่ บริษัท เกียรติสินโฮลเซล จำกัด เพื่อแสดงว่า บริษัท
                                เกียรติสินโฮลเซลได้สนับสนุนและให้ความร่วมมือในการจัดการอาชีวศึกษา
                            </p>
                        </div>
                    </div>

                    <div class="item-zigzag clearfix">
                        <div class="col-sm-3 col-xs-12 ">
                            <div class="post-standard">
                                <figure><img src="assets/images/award/8.jpg"
                                        alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12 feature-content">
                            <p class="title">รางวัลสนับนุนการเพิ่มผลผลิตและพัฒนากำลังคนด้านอาชีวศึกษา</p>
                            <p class="blog_title">22 มีนาคม 2550</p>
                            <p class="blog_content">
                                สำนักงานคณะกรรมการการอาชีวศึกษากระทรวงศึกษาธิการ ได้มอบโล่ประกาศเกียรติคุณให้แก่ บริษัท
                                เกียรติสินโฮลเซล จำกัด เพื่อแสดงว่า เป็นผู้ให้ความร่วมมือ
                                สนับสนุนการเพิ่มผลผลิตและการพัฒนากำลังคนด้านอาชีวศึกษา
                                โดยรับนักศึกษาวิทยาลัยการอาชีพขอนแก่นเข้าเรียนและฝึกงานด้วยดีเสมอมา </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</div>