<app-navbar></app-navbar>

<div class="item-zigzag clearfix contact-v1">

    <div class="container">
        <div class="wrap-left">
            <p class="content">ชื่อโครงการ “ Kiatsinnext ”</p>
            <p class="content-detail">ร้านค้าสะดวกซื้อ ใช้ชื่อภาษาไทยว่า “เกียรติสินเน็คซท” ภาษาอังกฤษ “KIATSINNEXT”
                ภายใต้ชื่อบริษัท ”ลานมิตรภาพ”</p>
            <p class="content-detail">ความเป็นมา ด้วยปัจจุบัน
                ความเป็นมา ด้วยปัจจุบัน รูปแบบการใช้ชีวิตและพฤติกรรมการสั่งซื้อสินค้ามีความเปลี่ยนแปลงไปตามปัจจัยต่างๆ
                และโดยเฉพาะ ในช่วงการแพร่กระจายของไวรัส โคโรน่า หรือที่เรารู้จักกันในชื่อที่ว่า COVID-19
                การสั่งซื้อสินค้า รูปแบบการจับจ่ายสินค้าหรือพฤติกรรมผู้บริโภคเปลี่ยนแปลงไปอย่างชัดเจน
                มีการใช้จ่ายอย่างระมัดระวังมากขึ้น มีเป้าหมายในซื้อสินค้าชัดเจน
                ซื้อสินค้าที่จำเป็นต่อปัจจัยการดำเนินชีวิตก่อน มีขนาดของ BASKET SIZE ที่ใหญ่ขึ้น
                แต่ความถี่ในการซื้อสินค้าลดลง และมีความนิยมในสั่งซื้อผ่านระบบ ONLINE หรือแบบ E-Commerce มากขึ้น
                มีความสนใจในประโยชน์ใช้สอยของตัวสินค้ามากกว่า ตราสินค้า อย่างมีนัยสำคัญ การจับจ่าย ชำระค่าสินค้าผ่านระบบ
                Internet Banking หรือ ผ่าน QRCode Promtpay หรือโอนผ่านระบบใดๆ ในระบบโทรศัพท์ Smartphone
                มีทิศทางเพิ่มขึ้นอย่างน่าสนใจ</p>
            <p class="content-detail">ด้วยแนวทางการทำธุรกิจของเรา ที่ต้องการตอบสนองความต้องการของลูกค้า
                การเป็นส่วนหนึ่งของชุมชนและปัจจัยความเปลี่ยนแปลงของพฤติกรรมของผู้บริโภคดังกล่าว ทางผู้บริหารฯ
                จึงมีความประสงค์ที่จะเพิ่มช่องทาง เพิ่มความสะดวกให้กับลูกค้า ทั้งในรูปแบบของการจับจ่ายแบบ OFFLINE และ
                ONLINE โดยมีช่องทางดังนี้
            </p>
        </div>
    </div>
</div>

<div class="item-zigzag clearfix contact-v2">
    <div class="col-sm-6 col-xs-12 col-sm-push-6">
        <div class="post-standard">
            <a>
                <figure><img src="assets/images/kiatsinnext/image_1@2x.png" alt="" class="img-responsive"></figure>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 feature-content col-sm-pull-6">
        <div class="wrap-right">
            <p class="content">ร้านสะดวกซื้อ “เกียรติสินเน็คชท” หรือ “kiatsinnext”</p>
            <p class="content-detail">เป็นร้านค้าขนาด 250 ตารางเมตร ตั้งอยู่ ถนนราชนิกูล หน้าโรงพยาบาลบ้านไผ่
                มีกลุ่มลูกค้าเป้าหมาย คือ ผู้บริโภคทั่วไปและผู้ที่มาใช้บริการที่โรงพยาบาล
                สินค้าที่ขายเป็นสินค้าเป็นสินค้าที่ตอบสนองรูปแบบการใช้ชีวิตสมัยใหม่ เน้นความทันสมัย สะดวก
                ประหยัด และมีรายการสินค้าที่สามารถตอบสนองความต้องการของผู้บริโภคได้อย่างครบครัน
                เปิดบริการตั้งแต่ เวลา 06:00 - 22:00 น.ทุกวัน
            </p>
        </div>
    </div>
</div>

<div class="item-zigzag clearfix contact-v1">
    <div class="col-sm-6 col-xs-12 ">
        <div class="post-standard">
            <a>
                <figure><img src="assets/images/kiatsinnext/image_2@2x.png" alt="" class="img-responsive"></figure>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 feature-content ">
        <div class="wrap-left">
            <p class="content"><b>ลานมิตรภาพ “Lannmittraphap” </b></p>
            <p class="content-detail">ลานมิตรภาพ เป็นลานพื้นที่ขนาด 29 ไร่ ติดถนนมิตรภาพ เป็นพื้นที่ขนาดใหญ่
                ที่เราต้องการให้ตอบสนองความต้องการของผู้บริโภคที่สัญจรไปมาบนถนนมิตรภาพ (ฝั่ง ปลายทางกรุงเทพฯ)
                ที่มีปริมาณการจราจรที่มีความหนาแน่น
                ร้านค้าและบริการมีความพร้อมในการตอบสนองพฤติกรรมของผู้ที่เดินทางสัญจรบนถนน ร้านค้า อาหาร ห้องน้ำ
                ที่เน้นความเป็นอีสานร่วมสมัย ความสะอาด
                และทันสมัยของการออกแบบที่นำจุดเด่นของความเป็นอีสานผสานเข้ากับความก้าวล้ำของรูปแบบทางสถาปัตยกรรมได้อย่างลงตัว
            </p>
        </div>
    </div>
</div>

<div class="item-zigzag clearfix contact-v2">
    <div class="col-sm-6 col-xs-12 col-sm-push-6">
        <div class="post-standard">
            <a>
                <figure><img src="assets/images/kiatsinnext/image_3@2x.png" alt="" class="img-responsive"></figure>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 feature-content col-sm-pull-6">
        <div class="wrap-right">
            <p class="content">ＫＩＡＴＳＩＮ ＯＮＬＩＮＥ</p>
            <p class="content-detail">ด้วยรูปแบบการทันสมัยของเทคโนโลยี
                และพฤติกรรมของผู้บริโภคที่ต้องการความสะดวกสบายมากขึ้น
                ด้วยปัจจัยดังกล่าวจึงได้เกิดโครงการ “KIATSINONLINE”
                เพื่อตอบสนองความต้องการและพฤติกรรมของผู้บริโภคอย่างสูงสุด
                และตรงตามความต้องการของลูกค้ามากที่สุดอย่างไร้ขีดจำกัด เราจึงได้พัฒนา PLATFORM E-Commerce
                อย่างเต็มรูปแบบ และเราเชื่อว่า
                เราจะสามารถตอบสนองพฤติกรรมของลูกค้าที่ปรับเปลี่ยนตามกระแสได้อย่างต่อเนื่อง
                และเป็นร้านค้าท้องถิ่นที่สามารถอยู่ร่วมเป็นส่วนหนึ่งของสังคมบ้านเราได้อย่างยั่งยืน </p>
        </div>
    </div>
</div>

<app-footer></app-footer>