<app-navbar></app-navbar>
<!-- END-HEADER -->
<section id="breadcrumb">
    <div class="container-fluid">
        <div class="breadcrumb-content bg-breadcrumb-news">
            <div class="caption">
                <div class="title_header">ข่าวประชาสัมพันธ์</div>
                <hr class="line-under-name">
            </div>
        </div>
    </div>
</section>
<!-- BODY-BLOG -->
<section class="body-blog-listing">
    <div class="container">
        <div class="item-blog clearfix">
            <div class="info">
                <div class="comment">
                    โดย เกียรติสิน
                </div>
                <a class="article-title">เกียรติสินเดลิเวอรี่</a>
                <p class="detail-article">บริษัทเกียรติสินโฮลเซล ได้จัดทำบริการส่งสินค้าแบบเดลิเวอรี่
                    ขึ้นเป็นทางเลือกใหม่เพื่อความสะดวกสบายสำหรับลูกค้าบริเวณพื้นที่ใกล้เคียง
                    โดยที่ลูกค้าไม่ต้องเดินทางมาซื้อสินค้าด้วยตนเอง เพียงแค่ลูกค้าสั่งสินค้า ผ่านทาง Inbox
                    (แชทเพจของร้าน) และแจ้งพิกัดหรือที่อยู่ จะมีพนักงานของร้านนำสินค้าไปส่งให้กับลูกค้าถึงหน้าบ้านทันที
                    (*เงื่อนไขเป็นไปตามที่ทางร้านกำหนด) <a class="detail-more" href="/detailnew?ID=1">...ดูเพิ่มเติม</a></p>
            </div>
            <div class="date">
                <p class="time-post">08&nbsp;<span>ต.ค.</span></p>
            </div>
        </div>
        <div class="item-blog clearfix">
            <div class="info">
                <div class="comment">
                    โดย เกียรติสิน
                </div>
                <a class="article-title">เกียรติสินฝากความห่วงใย</a>
                <p class="detail-article">สภาพอากาศในช่วงปลายฝนต้นหนาวนั้นเป็นภาพอากาศที่แปรปรวน หนาวเย็น และบางพื้นที่อาจมีฝนตก
                    ในช่วงที่สภาพอากาศเช่นนี้ ร่างกายอาจปรับตัวไม่ทันจึงทำให้เกิดโรคต่างๆ ขึ้นได้ง่าย
                    โดยเฉพาะในกลุ่มเด็กเล็กและผู้สูงอายุ ดังนั้นจึงต้องระมัดระวังการเจ็บป่วย เป็นไข้ในช่วงนี้
                    ทางร้านจึงขอให้ลูกค้าทุกๆ ท่านดูแลรักษาสุขภาพให้แข็งแรง โดยการออกกำลังกาย
                    รับประทานอาหารที่มีประโยชน์ พักผ่อนให้เพียงพอ และที่สำคัญควรใส่เสื้อผ้าให้ร่างกายอบอุ่นอยู่เสมอ
                    สำหรับท่านที่มีโรคประจำตัวควรทานยาอย่างต่อเนื่อง เพื่อควบคุมอาการของโรคเดิมให้ปกติ  <a class="detail-more" href="/detailnew?ID=2">...ดูเพิ่มเติม</a></p>
            </div>
            <div class="date">
                <p class="time-post">09&nbsp;<span>ต.ค.</span></p>
            </div>
        </div>
        <div class="item-blog clearfix">
            <div class="info">
                <div class="comment">
                    โดย เกียรติสิน
                </div>
                <a class="article-title">รณรงค์ลดการใช้ถุงพลาสติก</a>
                <p class="detail-article">เกียรติสินโฮลเซลได้ร่วมรณรงค์ ลดการใช้ถุงพลาสติกผ่านแคมเปญ Everyday Say No to Plastic Bags"
                    ที่เริ่มตั้งแต่วันที่ 1มกราคม 2563 ทางร้านเกียรติสินโฮลเซลได้จัดเตรียมความพร้อม
                    โดยแนะนำลูกค้าให้ใช้ถุงผ้า หรือ ถุงกระดาษแทน
                    และทางร้านได้นำลังกระดาษมาใช้ในการใส่สินค้าแทนการใส่ถุงพลาสติก <a class="detail-more" href="/detailnew?ID=3">...ดูเพิ่มเติม</a> </p>
                   
            </div>
            <div class="date">
                <p class="time-post">10&nbsp;<span>ต.ค.</span></p>
            </div>
        </div>


        <div class="page_nav">
            <nav class="pagination">
                <!-- <span class="page-numbers current">1</span>
                    <a class="page-numbers" href="#">2</a>
                    <a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a> -->
            </nav>
        </div>
    </div>
</section>

<app-footer></app-footer>