<app-navbar></app-navbar>
    <!-- BREADCRUMB-->
    <section id="breadcrumb">
        <div class="container-fluid">
            <div class="breadcrumb-content bg-breadcrumb-contact-01">
                <div class="caption">
                    <div class="title_header">ติดต่อเรา</div>
                    <hr class="line-under-name">
                </div>                    
            </div>
        </div>
    </section>
    <section class="contact-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-left">
                        <img src="assets/images/header/contact/5.png" alt="banner-contact" class="img-reponsive">
                    </div>  
                </div>
                <div class="col-md-7">
                    <div class="contact-infor">
                        <div class="wrap-right">
                            <div class="img-left">
                                <img src="assets/images/icon/7.png" alt="" class="img-reponsive img-mobile img-mobile">
                            </div>
                            <div class="content-contact-new">
                                <p class="title">ที่อยู่</p>
                                <p><span>เกียรติสินซุปเปอร์ : </span>171/24 หมู่ 2 ถนนมิตรภาพ ตำบลบ้านไผ่ อำเภอบ้านไผ่ <br/> จังหวัดขอนแก่น 40110 <a class="link" href="https://goo.gl/maps/y64aCrBVfAF9vVCbA">แผนที่</a></p> 
                                <p><span>คลังเกียรติสินโฮลเซล :  </span>228 หมู่ที่ 2 ตำบลหัวหนอง อำเภอบ้านไผ่ <br/> จังหวัดขอนแก่น 40110 <a class="link" href="https://goo.gl/maps/2Cv9fym4gkFhQ6tE7" >แผนที่</a></p> 
                            </div>
                        </div>                      
                        <div class="wrap-right">
                            <div class="img-left">
                                <img src="assets/images/icon/9.png" alt="" class="img-reponsive img-mobile">
                            </div>
                            <div class="content-contact-new">
                                <p class="title">โทรศัพท์</p>
                                <p><span>ออฟฟิศ : </span> 043-272578, 043-274935-8</p>
                                <p><span>ฝ่ายขายส่ง : </span> 093-323-0214</p>
                                <p><span>ฝ่ายขายค้าส่ง : </span> 094-271-6669</p>
                                <p><span>ฝ่ายขายค้าปลีก : </span> 080-401-6969</p>
                                <p><span>ฝ่ายบัญชี : </span> 093-323-0217</p>
                                <p><span>ฝ่ายคลัง : </span> 093-321-6882</p>
                                <p><span>ฝ่ายจัดซื้อ : </span> 089-422-9915</p>
                                <p><span>ฝ่ายบุคคล : </span> 094-303-1117</p>
                            </div>
                        </div>
                        <div class="wrap-right">
                            <div class="img-left">
                                <img src="assets/images/icon/8.png" alt="" class="img-reponsive img-mobile">
                            </div>
                            <div class="content-contact-new">
                                <p class="title">E-MAIL</p>
                                <p><span>อีเมล : </span><a class="link" href="">info.kiatsin@kiatsin.co.th</a></p>
                                <p><span>เฟสบุ๊ก : </span> <a class="link" href="">เกียรติสินโฮลเซล Kiatsinwholesale</a></p>
                                <p><span>ไลน์ : </span><a class="link" href="">@Kiatsinwholesale</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="from-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="check-left ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" type="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Your Message</label>
                            <textarea name="textarea" class="form-control" rows="6" required="required" placeholder=""></textarea>
                        </div>
                        <div class="btn-web ">
                            <a href="#" title="">SEND MESSENGE</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="wrap-map">
                        <div id="googlemap" class="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<app-footer></app-footer>

