<app-navbar></app-navbar>
<!-- HEADER mobile-img-->
<section id="slide_show" class="slide-h5">
    <div class="container-fluid">
        <div class="inner">
            <div id="slider-v5" class="fullw-slider">
                <div class="slider-img slider-v5">
                    <div class="bg-slider">
                        <img src="assets/images/main/1.png" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="slider-img slider-v5">
                    <div class="bg-slider">
                        <img src="assets/images/main/2.png" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="slider-img slider-v5">
                    <div class="bg-slider">
                        <img src="assets/images/main/3.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-v2 contact-v5 ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 desc-contact">
                <div class="wrap-left">
                    <div class="label-header">
                        <span class="title">ยินดีต้อนรับเข้าสู่</span>
                        <span class="title">เกียรติสิน โฮลเซล</span>
                        <span class="title"> ราคาถูกใจ สบายใกล้บ้าน</span>
                    </div>
                    <p>บริษัทเกียรติสินโฮลเซล เดิมใช้ชื่อทางการค้าว่า ร้าน “เกียรติสิน”
                        เป็นร้านค้าเล็กๆ ขายของชำ เป็นห้องแถวขนาด 2 คูหา ตั้งอยู่บริเวณตลาดสดที่ 1 อำเภอบ้านไผ่ หรือ
                        บริเวณธนาคารออมสินในปัจจุบัน ก่อตั้งตั้งแต่ พ.ศ.2503 หรือกว่า 60ปี โดยคุณพ่อเอี่ยมฮั้ว แซ่แต้
                        และคุณแม่รัตนี แซ่โค้ว
                        เป็นร้านค้าที่คุณพ่อ-คุณแม่เรามีความตั้งใจที่จะขายสินค้าหรือบริการด้วยความซื่อสัตย์
                        มีความคุ้มค่าทั้งด้านราคาและคุณภาพของสินค้า ตลอดระยะเวลาที่ผ่านมา
                        ร้านเราได้พยายามพัฒนาธุรกิจให้มีมาตรฐานมากขึ้น
                        อีกทั้งต้องปรับปรุงธุรกิจให้สอดคล้องกับปัจจัยสิ่งแวดล้อมที่เปลี่ยนแปลงอยู่ตลอดเวลา ดังเช่น </p>
                    <p><span class="year">พ.ศ.2537 </span> จดทะเบียน หจก.บ้านไผ่เกียรติสิน และจดทะเบียน ภาษีมูลค่าเพิ่ม
                        <br /> <span class="year">พ.ศ.2540</span> เริ่มใช้โปรแกรมการขายสำเร็จรูป ในธุรกิจฯ
                        <br /> <span class="year">พ.ศ.2546</span> จดทะเบียน “บริษัท เกียรติสินโฮลเซล” และก่อสร้าง
                        สำนักงานใหม่
                        ที่ถนนมิตรภาพ ขนาด 5 ไร่
                        <br /> <span class="year">พ.ศ.2556</span> ได้ก่อสร้าง คลังสินค้าเกียรติสิน บนที่ดินขนาด 40 ไร่
                        เพื่อรองรับและเพิ่มประสิทธิภาพของธุรกิจฯ
                        <br /> <span class="year">พ.ศ.2563</span> ได้เพิ่มช่องทางการทำธุรกิจ ONLINE บน PLATFORM
                        อย่างเต็มรูปแบบ
                    </p>

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img-contact">
                <div class="wrap-right">
                    <img src="assets/images/main/5.png" alt="" class="img-responsive mobile-img">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="banner-v5 clearfix">
    <div class="v5">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding mobile-img">
            <img src="assets/images/main/7.png" alt="">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding mobile-img">
            <img src="assets/images/main/6.png" alt="">
        </div>
    </div>
</section>
<!-- GALLERY -->
<div class="label-header text-center">สินค้า</div>
<section class="banner-v5 clearfix">
    <div class="container all-product">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="box-item text-center">
                    <img class="img-responsive mobile-img" src="assets/images/main/8.png" alt="">
                    <div class="label-header text-detail">
                     <a href="/product">
                        <p>สินค้าขายปลีก</p>
                        <p>(Retail)</p>
                     </a>       
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="box-item text-center">
                    <img class="img-responsive mobile-img" src="assets/images/main/9.png" alt="">
                    <div class="label-header text-detail">
                        <a href="/product">
                        <p>สินค้าขายส่ง</p>
                        <p>(Wholesale)</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="box-item text-center">
                    <img class="img-responsive mobile-img" src="assets/images/main/10.png" alt="">
                    <div class="label-header text-detail">
                        <a clas="text-detail" href="/product">
                        <p>ผลิตภัณท์ชุมชน</p>
                        <p>(OTOP Product)</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOODTER -->
<app-footer></app-footer>