<app-navbar></app-navbar>
   <!-- END-HEADER -->
   <section id="breadcrumb">
    <div class="container-fluid">
        <div class="breadcrumb-content bg-breadcrumb-product">
            <div class="caption">
                <div class="title_header">สินค้า</div>
                <hr class="line-under-name">
            </div>                    
        </div>
    </div>
</section>
<!-- BLOG ZIGZAG -->
<section class="blog-zigzag ">
    <div class="container">
        <div class="wpb_wrapper">
            <div class="row">
                <div class="item-zigzag clearfix ">
                    <div class="col-sm-6 col-xs-12 col-sm-push-6">
                        <div class="post-standard">
                            <a href="#">
                                <figure><img src="assets/images/main/8.png" alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 feature-content col-sm-pull-6">
                        <h3 class="blog_title"><a href="#">รายละเอียดสินค้าขายปลีก</a></h3>
                        <p class="blog_content">
                            เป็นสินค้าที่หยิบจับใช้ได้ง่ายเหมาะสำหรับลูกค้าทั่วไปที่ต้องการซื้อสินค้าไปเพื่อบริโภค / ใช้สอยเองหรือใช้ในครัวเรือน </p>
                    </div>
                </div>
                <div class="item-zigzag clearfix">
                    <div class="col-sm-6 col-xs-12 ">
                        <div class="post-standard">
                            <a href="#">
                                <figure><img src="assets/images/main/9.png" alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 feature-content ">
                        <h3 class="blog_title"><a href="#">รายละเอียดสินค้าขายส่ง</a></h3>
                       <p class="blog_content">
                        จะเป็นสินค้าที่เน้นขายแบบแพ็คและยกลัง / กระสอบ เหมาะกับกลุ่มลูกค้าท่านที่เป็นเจ้าของกิจการร้านค้า ข้าราชการ หรือลูกค้าทั่วไปที่ต้องการซื้อสินค้าเยอะเพื่อนำไปบริจาคหรือจัดงานพิเศษต่างๆ   </p>
                    </div>
                </div>
                <div class="item-zigzag clearfix">
                    <div class="col-sm-6 col-xs-12 col-sm-push-6">
                        <div class="post-standard">
                            <a href="#">
                                <figure><img src="assets/images/main/10.png" alt="The Best High Waisted Denim Under $100" class="img-responsive"></figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 feature-content col-sm-pull-6">
        
                        <h3 class="blog_title"><a href="#">รายละเอียดผลิตภัณฑ์สินค้า OTOP</a></h3>
                        <p class="blog_content">
                            ทางเกียรติสินได้รับซื้อสินค้า OTOP จากชาวบ้าน เพื่อช่วยกระตุ้นเศรษฐกิจของประเทศไทย โดยได้นำภูมิปัญญาของชาวบ้าน ที่มีเอกลักษณ์ไม่ซ้ำใครมาแปรรูป ซึ่งสินค้าแต่ละชิ้นเป็นทรัพยากรที่มีอยู่ในท้องถิ่น แล้วนำมาเพิ่มมูลค่าให้เป็นสินค้าที่มีคุณภาพโดยมีหลักการพื้นฐานสินค้าที่หลากหลาย อาทิ อาหาร, งานจักสาน ซึ่งสามารถตอบโจทย์ผู้บริโภคทุกคนได้เป็นอย่างดี </p>
        
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>