<footer class="footer">
    <div class="container">
        <div class="footer-bottom">
            <div class="wrap-copyright">
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="menu-footer">
                        © 2563 ลิขสิทธิ์ โดย บริษัท เกียรติสินโฮลเซล จํากัด
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="social">
                        <a href="#" title="facebook">
                        <img src="assets/images/footer/icon_facebook.png" width="40px">
                    </a>
                        <a href="#" title="Pinterest">
                        <img src="assets/images/footer/icon_Line.png" width="40px">
                    </a>
                       <a class="detail-foot" href="#">Line : @Kiatsinwholesale</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

  <!-- Search popup content -->
  <div id="mymodal" class="modal fade mymodal" role="dialog">
    <button type="button" class="close" data-dismiss="modal"><span class="pe-7s-close"></span></button>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="get" class="searchform" action="#">
                <div class="pbr-search input-group">
                    <input name="search" maxlength="40" class="form-control input-large input-search" size="20" placeholder="Search" type="text">
                    <span class="input-group-addon input-large btn-search">
                        <input value="" type="submit">
                    </span>
                </div>
            </form>
        </div>                                
    </div>
</div> 
   
<!--SCOLL TOP-->
<a href="#" title="sroll" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
<!--END / SROLL TOP-->