<app-navbar></app-navbar>
 <!-- END-HEADER --> 
 <section id="breadcrumb">
    <div class="container-fluid">
        <div class="breadcrumb-content bg-breadcrumb-activity">
            <div class="caption">
                <div class="title">กิจกรรมเพื่อสังคม</div>
                <hr class="line-under-name">
            </div>                    
        </div>
    </div>
</section>
<!-- GALLERY -->
<div class="  blog-col gallery_1 clearfix ">
    <div class="container">
        <div class="gallery gallery-restaurant">
            <!-- GALLERY CONTENT -->
            <div class="gallery-content">
                <div class="row">
                    <div class="gallery-isotope blog-col-3 section-blog-list clearfix">
                        <!-- ITEM SIZE -->
                        <div class="item-size "></div>
                        <!-- END / ITEM SIZE -->
                         <!-- ITEM -->
                         <div class="item-isotope suite ground bathroom">
                            <div class="wrap-blog">
                                <div class="box-img">
                                    <a class="lightbox " href="/detail-activity?ID=8" data-littlelightbox-group="gallery" title="HIHI">
                                       <img src="assets/images/detail-activity/dt-8/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-meta">
                                        <div class="entry-date-detail">
                                            <p class="date-detail">12-13 มกราคม 2563</p>
                                        </div>
                                        <div class="title">
                                            <a class="link" href="/detail-activity?ID=8">เกียรติสิน & กะทิเรียลไทย</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope  ground bathroom dining">
                            <div class="wrap-blog">
                                <div class="box-img">
                                    <a class="lightbox " href="/detail-activity?ID=3" data-littlelightbox-group="gallery" title="HIHI">
                                       <img src="assets/images/detail-activity/dt-3/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-meta">
                                        <div class="entry-date-detail">
                                            <p class="date-detail">15 พฤษภาคม 2563</p>
                                        </div>
                                        <div class="title">
                                            <a class="link" href="/detail-activity?ID=3">พาณิชลดราคาช่วยประชาชน <br> กรมการค้าภายใน</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope  ground  suite dining">
                            <div class="wrap-blog">
                                <div class="box-img">
                                    <a class="lightbox " href="/detail-activity?ID=2" data-littlelightbox-group="gallery" title="HIHI">
                                         <img src="assets/images/detail-activity/dt-2/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-meta">
                                        <div class="entry-date-detail">
                                            <p class="date-detail">29 กรกฎาคม 2563</p>
                                        </div>
                                        <div class="title">
                                            <a class="link" href="/detail-activity?ID=2">ทำบุญตักบาตร</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ***************************************************** row 1 activity 8 , 2 , 3 ****************************************************************-->
                        <!-- ITEM -->
                        <div class="item-isotope  dining ">
                            <div class="wrap-blog">
                                <div class="box-img">
                                    <a class="lightbox " href="/detail-activity?ID=4" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="assets/images/detail-activity/dt-4/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-meta">
                                        <div class="entry-date-detail">
                                            <p class="date-detail">16 เมษายน  2563</p>
                                        </div>
                                        <div class="title">
                                            <a class="link" href="/detail-activity?ID=4">วิทยาลัยการอาชีพ <br> มอบอุปกรณ์จ่ายเจลรุ่นพอเพียง</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope  ground suite bathroom dining">
                            <div class="wrap-blog">
                                <div class="box-img">
                                    <a class="lightbox " href="/detail-activity?ID=5" data-littlelightbox-group="gallery" title="HIHI">
                                      <img src="assets/images/detail-activity/dt-5/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-meta">
                                        <div class="entry-date-detail">
                                            <p class="date-detail">7 เมษายน 2563</p>
                                        </div>
                                        <div class="title">
                                            <a class="link" href="/detail-activity?ID=5">เกียรติสิน เราจะสู้ไปด้วยกัน</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope ground suite dining bathroom">
                            <div class="wrap-blog">
                                <div class="box-img">
                                    <a class="lightbox " href="/detail-activity?ID=6" data-littlelightbox-group="gallery" title="HIHI">
                                     <img src="assets/images/detail-activity/dt-6/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-meta">
                                        <div class="entry-date-detail">
                                            <p class="date-detail">27 มีนาคม 2563</p>
                                        </div>
                                        <div class="title">
                                            <a class="link" href="/detail-activity?ID=6">เกียรติสินร่วมส่งน้ำใจ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--***************************************************** row 1 activity  4 , 5 , 6 **************************************************************** -->
                        <!-- ITEM -->
                        <div class="item-isotope  ground bathroom suite dining">
                            <div class="wrap-blog">
                                <div class="box-img">
                                    <a class="lightbox " href="/detail-activity?ID=7" data-littlelightbox-group="gallery" title="HIHI">
                                       <img src="assets/images/detail-activity/dt-7/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-meta">
                                        <div class="entry-date-detail">
                                            <p class="date-detail">5 กุมภาพันธ์ 2563</p>
                                        </div>
                                        <div class="title">
                                            <a class="link" href="/detail-activity?ID=7">เกียรติสิน <br> ตรวจสุขภาพพนักงานประจำปี</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                       <!-- ITEM -->
                       <div class="item-isotope suite dining ">
                        <div class="wrap-blog">
                            <div class="box-img">
                                <a class="lightbox " href="/detail-activity?ID=1" data-littlelightbox-group="gallery" title="HIHI">
                                    <img src="assets/images/detail-activity/dt-1/17403.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                            </div>
                            <div class="entry-content">
                                <div class="entry-meta">
                                    <div class="entry-date-detail">
                                        <p class="date-detail">17 กันยายน 2563</p>
                                    </div>
                                    <div class="title">
                                        <a class="link" href="/detail-activity?ID=1">เกียรติสินแบ่งปัน <br> บริจาคคอมพิวเตอร์ให้วิทยาลัยการอาชีพ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope  ground bathroom  suite dining">
                            <div class="wrap-blog">
                                <div class="box-img">
                                    <a class="lightbox " href="/detail-activity?ID=9" data-littlelightbox-group="gallery" title="HIHI">
                                       <img src="assets/images/detail-activity/dt-9/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-meta">
                                        <div class="entry-date-detail">
                                            <p class="date-detail">11 มกราคม 2563</p>
                                        </div>
                                        <div class="title">
                                            <a class="link" href="/detail-activity?ID=9">วันเด็ก 2563 </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <!--***************************************************** row 1 activity  7 , 1 , 9 **************************************************************** -->
                        
                       <!-- ITEM -->
                       <div class="item-isotope suite dining ">
                        <div class="wrap-blog">
                            <div class="box-img">
                                <a class="lightbox " href="/detail-activity?ID=11" data-littlelightbox-group="gallery" title="HIHI">
                                    <img src="assets/images/detail-activity/dt-11/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                            </div>
                            <div class="entry-content">
                                <div class="entry-meta">
                                    <div class="entry-date-detail">
                                        <p class="date-detail">15 กันยายน 2562</p>
                                    </div>
                                    <div class="title">
                                        <a class="link" href="/detail-activity?ID=11">เกียรติสินช่วยผู้ประสบภัยน้ำท่วม</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END / ITEM -->
                     <!-- ITEM -->
                     <div class="item-isotope  ground bathroom suite dining">
                        <div class="wrap-blog">
                            <div class="box-img">
                                <a class="lightbox " href="/detail-activity?ID=10" data-littlelightbox-group="gallery" title="HIHI">
                                   <img src="assets/images/detail-activity/dt-10/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                            </div>
                            <div class="entry-content">
                                <div class="entry-meta">
                                    <div class="entry-date-detail">
                                        <p class="date-detail">1 มกราคม 2563</p>
                                    </div>
                                    <div class="title">
                                        <a class="link" href="/detail-activity?ID=10">เกียรติสิน <br> รณรงค์การใช้ถุงพลาสติก</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope  ground bathroom  suite dining">
                            <div class="wrap-blog">
                                <div class="box-img">
                                    <a class="lightbox " href="/detail-activity?ID=12" data-littlelightbox-group="gallery" title="HIHI">
                                       <img src="assets/images/detail-activity/dt-12/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-meta">
                                        <div class="entry-date-detail">
                                            <p class="date-detail">27 กรกฎาคม 2562</p>
                                        </div>
                                        <div class="title">
                                            <a class="link" href="/detail-activity?ID=12">เกียรติสินโครงการอบรมค่าใช้จ่าย</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <!--***************************************************** row 1 activity  10 , 11 , 12 **************************************************************** -->

                           <!-- ITEM -->
                           <div class="item-isotope suite dining ">
                            <div class="wrap-blog">
                                <div class="box-img">
                                    <a class="lightbox " href="/detail-activity?ID=13" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="assets/images/detail-activity/dt-13/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-meta">
                                        <div class="entry-date-detail">
                                            <p class="date-detail">19-21 กรกฎาคม 2562</p>
                                        </div>
                                        <div class="title">
                                            <a class="link" href="/detail-activity?ID=13">เกียรติสิน Street Food</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- ITEM -->
                         <div class="item-isotope  ground bathroom suite dining">
                            <div class="wrap-blog">
                                <div class="box-img">
                                    <a class="lightbox " href="/detail-activity?ID=14" data-littlelightbox-group="gallery" title="HIHI">
                                       <img src="assets/images/detail-activity/dt-14/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-meta">
                                        <div class="entry-date-detail">
                                            <p class="date-detail">8 มิถุนายน 2562</p>
                                        </div>
                                        <div class="title">
                                            <a class="link" href="/detail-activity?ID=14">เกียรติสิน <br> บาร์ริสต้าร่วมกับเนสเล่</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="item-isotope  ground bathroom  suite dining">
                                <div class="wrap-blog">
                                    <div class="box-img">
                                        <a class="lightbox " href="/detail-activity?ID=15" data-littlelightbox-group="gallery" title="HIHI">
                                           <img src="assets/images/detail-activity/dt-15/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                                    </div>
                                    <div class="entry-content">
                                        <div class="entry-meta">
                                            <div class="entry-date-detail">
                                                <p class="date-detail">25-26 พฤษภาคม 2562</p>
                                            </div>
                                            <div class="title">
                                                <a class="link" href="/detail-activity?ID=15">เกียรติสินเข้าร่วมโครงการ FIN D</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <!--***************************************************** row 1 activity  13 , 14 , 15 **************************************************************** -->

                            <!-- ITEM -->
                           <div class="item-isotope suite dining ">
                            <div class="wrap-blog">
                                <div class="box-img">
                                    <a class="lightbox " href="/detail-activity?ID=16" data-littlelightbox-group="gallery" title="HIHI">
                                        <img src="assets/images/detail-activity/dt-16/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-meta">
                                        <div class="entry-date-detail">
                                            <p class="date-detail">28 มีนาคม 2562</p>
                                        </div>
                                        <div class="title">
                                            <a class="link" href="/detail-activity?ID=16">เกียรติสิน อบรมเครื่องยนต์</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                         <!-- ITEM -->
                         <div class="item-isotope  ground bathroom suite dining">
                            <div class="wrap-blog">
                                <div class="box-img">
                                    <a class="lightbox " href="/detail-activity?ID=17" data-littlelightbox-group="gallery" title="HIHI">
                                       <img src="assets/images/detail-activity/dt-17/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-meta">
                                        <div class="entry-date-detail">
                                            <p class="date-detail">7-12 ตุลาคม 2561</p>
                                        </div>
                                        <div class="title">
                                            <a class="link" href="/detail-activity?ID=17">กิจกรรมเกียรติสิน KIATSIN CUP</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="item-isotope  ground bathroom  suite dining">
                                <div class="wrap-blog">
                                    <div class="box-img">
                                        <a class="lightbox " href="/detail-activity?ID=18" data-littlelightbox-group="gallery" title="HIHI">
                                           <img src="assets/images/detail-activity/dt-18/1.jpg" class="img-responsive" alt="Product" title="assets/images products"></a>
                                    </div>
                                    <div class="entry-content">
                                        <div class="entry-meta">
                                            <div class="entry-date-detail">
                                                <p class="date-detail">15-16 กันยายน 2561</p>
                                            </div>
                                            <div class="title">
                                                <a class="link" href="/detail-activity?ID=18">เกียรติสิน Outing</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <!--***************************************************** row 1 activity  16 , 17 , 18 **************************************************************** -->
                    </div>
                  
                </div>
            </div>
            <!-- GALLERY CONTENT -->
        </div>
    </div>
</div>
<app-footer></app-footer>