<header id="main-header" class="header-default hidden-sm hidden-xs">
    <div class="container">
        <div class="inner">
            <div class="logo">
                <a routerLink="#" title="logo"><img alt="logo-theme" src="assets/images/main/logo.png" height="10px"
                        class="img-responsive"></a>
            </div>
            <div class="main-menu" style="width: 100%;">
                <nav class="navbar collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="level1">
                            <a routerLink="/">หน้าหลัก</a>
                        </li>
                        <li class="level1 megamenu-default">
                            <a>เกี่ยวกับเรา</a>
                            <div class="submenu-v1">
                                <div class="row margin-b-30">
                                    <div class="col-md-6 row">
                                        <div class="lever-1 margin-b-30 col-md-12">
                                            <div class="title-submenu">
                                                <span>เกี่ยวกับเรา</span>
                                            </div>
                                            <ul>
                                                <li><a href="/history?ID=1">ประวัติความเป็นมาของบริษัท (History)</a>
                                                </li>
                                                <li><a routerLink="/board">คณะกรรมการบริหาร (Board)</a></li>
                                                <li><a routerLink="/reward">รางวัลเกียรติประวัติ (Award &
                                                        Certification)</a></li>
                                                <li><a routerLink="/kiatsinnext">KiatsinNext</a></li>
                                                <li><a routerLink="/lanmittraphap">โครงการลานมิตรภาพ</a></li>
                                                <li><a routerLink="/lanmittraphap-two">โครงการลานมิตรภาพ2</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <img src="assets/images/navbar/about.png" alt="banner menu" width="300px">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="level1 hassub megamenu-default">
                            <a>ข่าวสารและกิจกรรม</a>
                            <div class="submenu-v1 news-activity">
                                <img src="assets/images/navbar/nav1.PNG" alt="banner menu" width="500px">
                                <div class="row margin-b-30">
                                    <div class="col-md-12">
                                        <div class="title-submenu">
                                            <span>ข่าวสารและกิจกรรม</span>
                                        </div>
                                        <ul>
                                            <li><a routerLink="/news">ข่าวประชาสัมพันธ์ (News)</a></li>
                                            <li><a href="/activity">กิจกรรมเพื่อสังคม (CSR)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="level1 hassub megamenu-default">
                            <a>สินค้าและบริการ</a>
                            <div class="submenu-v1 product-service">
                                <img src="assets/images/navbar/nav2.PNG" alt="banner menu" width="500px">
                                <div class="row margin-b-30">
                                    <div class="col-md-12">
                                        <div class="title-submenu">
                                            <span>สินค้าและบริการของเรา</span>
                                        </div>
                                        <ul>
                                            <li><a routerLink="/product">สินค้า (Product)</a></li>
                                            <li><a routerLink="/service">บริการ (Service)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="level1">
                            <a routerLink="/contact">ติดต่อ</a>
                        </li>
                        <li class="shopping-cart">
                            <img src="assets/images/icon/buy.png" width="20px"> ช้อปออนไลน์
                            <div class="submenu-v1 shop-online">
                                <div class="col-md-12">
                                    <div class="title-submenu">
                                        <span>สินค้าและบริการของเรา</span>
                                    </div>
                                </div>
                                <div class="row margin-b-30">

                                    <div class="col-md-6">
                                        <a routerLink="#"><img src="assets/images/icon/Group 24184@2x.png"
                                                width="200px"></a>
                                    </div>
                                    <div class="col-md-6">
                                        <a routerLink="#"><img src="assets/images/icon/icon@2x.png" width="200px"></a>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</header>
<!-- HEADER MOBILE-->
<header id="header_mobile" class="header-mobile-default hidden-lg hidden-md">

    <div class="header-bottom border-bottom">
        <div class="container">
            <div class="inner">
                <div class="header-main">
                    <div class="main-left">
                        <button data-toggle="offcanvas" class="btn btn-offcanvas btn-toggle-canvas offcanvas"
                            type="button">
                            <i class="ion ion-android-menu"></i>
                        </button>
                    </div>

                    <div class="logo">
                        <a routerLink="#" title="logo"><img alt="logo-theme" src="assets/images/main/logo.png"
                                height="10px" class="img-responsive mobile"></a>
                    </div>

                    <div class="main-right">
                        <div class="shopping-cart">
                            <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="text-cart">ช้อปออนไลน์</span>
                            </a>
                            <div class="dropdown-menu dropdown-cart">
                                <ul class="mini-products-list-mobile">
                                    <li class="item-cart">

                                        <div class="product-details">
                                            <div class="product-img-wrap">
                                                <a routerLink="#"><img src="assets/images/icon/Group 24184@2x.png"
                                                        width="200px"></a>
                                            </div>
                                        </div>

                                    </li>
                                    <li class="item-cart">
                                        <div class="product-details">
                                            <div class="product-img-wrap">
                                                <a routerLink="#"><img src="assets/images/icon/icon@2x.png"
                                                        width="200px"></a>
                                            </div>
                                        </div>
                                        <!-- <a routerLink="#" class="close"><i class="ion-ios-close-empty"></i></a> -->
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <!-- End Shopping cart -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Menu offcanvas -->
<div id="pbr-off-canvas" class="pbr-off-canvas sidebar-offcanvas hidden-lg hidden-md">
    <div class="pbr-off-canvas-body">
        <div class="offcanvas-head">
            <button type="button" class="btn btn-close btn-toggle-canvas" data-toggle="offcanvas">
                <i class="pe-7s-close-circle"></i>
            </button>
            <span>Menu</span>
        </div>
        <nav class="navbar navbar-offcanvas navbar-static">
            <ul class="nav navbar-nav">
                <li class="level1 active hassub">
                    <a routerLink="/">หน้าหลัก</a>
                </li>
                <li class="level1 active hassub" data-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    <a type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample">เกี่ยวกับ</a>
                    <ul class="collapse" id="collapseExample">
                        <hr>
                        <li class="level1 active hassub">
                            <a class="li-mobile" routerLink="/history?ID=1">ประวัติความเป็นมาของบริษัท (History)</a>
                        </li>
                        <li class="level1 active hassub">
                            <a class="li-mobile" routerLink="/board">คณะกรรมการบริหาร (Board)</a>
                        </li>
                        <li class="level1active hassub">
                            <a class="li-mobile" routerLink="/reward">รางวัลเกียรติประวัติ (Award & Certification)</a>
                        </li>
                        <li class="level1 active hassub">
                            <a class="li-mobile" routerLink="/kiatsinnext">KiatsinNext</a>
                        </li>
                        <li class="level1 active hassub">
                            <a class="li-mobile" routerLink="/lanmittraphap">โครงการลานมิตรภาพ</a>
                        </li>
                        <li class="level1 active hassub">
                            <a class="li-mobile" routerLink="/lanmittraphap-two">โครงการลานมิตรภาพ2</a>
                        </li>
                    </ul>
                </li>

                <li class="level1 hassub" data-toggle="collapse" href="#collapseExample2" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    <a type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false"
                        aria-controls="collapseExample">ข่าวสารและกิจกรรม</a>
                    <ul class="collapse" id="collapseExample2">
                        <hr>
                        <li class="level1 hassub">
                            <a class="li-mobile" routerLink="/news">ข่าวประชาสัมพันธ์ (News)</a>
                        </li>

                        <li><a class="li-mobile" href="/activity">กิจกรรมเพื่อสังคม (CSR)</a> </li>
                    </ul>
                </li>

                <li class="level1 hassub" data-toggle="collapse" href="#collapseExample3" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    <a type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false"
                        aria-controls="collapseExample">สินค้าและบริการ</a>
                    <ul class="collapse" id="collapseExample3">
                        <hr>
                        <li class="level1 active hassub">
                            <a class="li-mobile" routerLink="/product">สินค้า (Product)</a>
                        </li>
                        <li class="level1 active hassub">
                            <a class="li-mobile" routerLink="/service">บริการ (Service)</a> </li>
                    </ul>
                </li>

                <li class="level1 active hassub">
                    <a routerLink="/contact">ติดต่อ</a>
                </li>
            </ul>
        </nav>
    </div>
</div>