<app-navbar></app-navbar>
<!-- SLIDER -->
<section class="section-slider-v6 section-slider-v7 height-v">
    <div class="container">
        <div id="slider-v6" class="slider-default">
            <div class="slider-img slider-v6">
                <img alt="Third slide" src="assets/images/board/head-board.png" class="img-responsive">
            </div>
            <div class="slider-img slider-v6">
                <img alt="Third slide" src="assets/images/board/head-board.png" class="img-responsive">
            </div>
            <div class="slider-img slider-v6">
                <img alt="Third slide" src="assets/images/board/head-board.png" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<p class="text-center-title">คณะกรรมการผู้บริหาร</p>

<div class="containers">
    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <img src="assets/images/board/Photo_Profile.png" class="img-inbox">
                <div class="text-center">
                    <p>คุณรัตนี แซ่โค้ว</p>
                    <hr class="line-under-name">
                    <p class="text-details">ที่ปรึกษากิติมศักดิ์</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <img src="assets/images/board/Photo_Profile.png" class="img-inbox">
                <div class="text-center">
                    <p>คุณนิธิดา จรรยานิทัศน์</p>
                    <hr class="line-under-name">
                    <p class="text-details">ประธานกรรมการฯ</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <img src="assets/images/board/Photo_Profile.png" class="img-inbox">
                <div class="text-center">
                    <p>คุณนันทนา จรรยานิทัศน์</p>
                    <hr class="line-under-name">
                    <p class="text-details">ผู้จัดการฝ่ายขาย</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <img src="assets/images/board/Photo_Profile.png" class="img-inbox">
                <div class="text-center">
                    <p>คุณจุฑามาศ จรรยานิทัศน์</p>
                    <hr class="line-under-name">
                    <p class="text-details">ผู้จัดการฝ่ายขายทั่วไป <br /> และผู้บริหารเอี่ยมรัตน์การค้า</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <img src="assets/images/board/Photo_Profile.png" class="img-inbox">
                <div class="text-center">
                    <p>คุณนลินาสน์ จรรยานิทัศน์</p>
                    <hr class="line-under-name">
                    <p class="text-details">ผู้จัดการฝ่ายขาย</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <img src="assets/images/board/Photo_Profile.png" class="img-inbox">
                <div class="text-center">
                    <p>คุณนิรามัย จรรยานิทัศน์</p>
                    <hr class="line-under-name">
                    <p class="text-details">ผู้จัดการผ่ายการซ่อมบำรุง<br />และรักษาความปลอดภัย</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <img src="assets/images/board/Photo_Profile.png" class="img-inbox">
                <div class="text-center">
                    <p>คุณนริศร จรรยานิทัศน์</p>
                    <hr class="line-under-name">
                    <p class="text-details">ผู้จัดการฝ่ายคลังสินค้า<br />และจัดซื้อ</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <img src="assets/images/board/Photo_Profile.png" class="img-inbox">
                <div class="text-center">
                    <p>คุณดรุณี จรรยานิทัศน์</p>
                    <hr class="line-under-name">
                    <p class="text-details">ผู้จัดการฝ่ายบัญชี ภาษี การเงิน</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <img src="assets/images/board/Photo_Profile.png" class="img-inbox">
                <div class="text-center">
                    <p>คุณสุภาวรรณ เดชะพูนผล</p>
                    <hr class="line-under-name">
                    <p class="text-details">ผู้ช่วยผู้จัดการฝ่ายคลังสินค้า</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <img src="assets/images/board/Photo_Profile.png" class="img-inbox">
                <div class="text-center">
                    <p>คุณธนพล จรรยานิทัศน์</p>
                    <hr class="line-under-name">
                    <p class="text-details">ผู้ช่วยผู้จัดการฝ่ายคลังสินค้า<br />
                        และผู้จัดการฝ่ายการตลาด</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <img src="assets/images/board/Photo_Profile.png" class="img-inbox">
                <div class="text-center">
                    <p>คุณรัชนี จรรยานิทัศน์</p>
                    <hr class="line-under-name">
                    <p class="text-details">ผู้ช่วยผู้จัดการฝ่ายการตลาด</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <img src="assets/images/board/Photo_Profile.png" class="img-inbox">
                <div class="text-center">
                    <p>คุณสุนทรี จรรยานิทัศน์</p>
                    <hr class="line-under-name">
                    <p class="text-details">ผู้ช่วยผู้จัดการฝ่ายบัญชี ภาษี การเงิน</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END / SLIDER -->
<app-footer></app-footer>