
<app-navbar></app-navbar>

<div class="item-zigzag clearfix contact-v1">
    <div class="col-sm-6 col-xs-12 ">
        <div class="post-standard">
            <a>
                <figure><img src="assets/images/lanmittraphap-two/image_1@2x.png" alt="" class="img-responsive"></figure>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 feature-content ">
        <div class="wrap-left">
            <p class="content">โครงการ ลานมิตรภาพ - 2</p>
            <p class="content-detail">ความเป็นมาของโครงการ โดยแรงบันดาลใจเริ่มต้นในการทําโค รการนี้
                ดําเนินบนจุดประสงค์เดิม ของโครงการลานมิตรภาพ 1 แต่เป็นการจําลอง และลดขนาดโครงการลงเพื่อทําการ
                ทดลอง ระบบการทํางาน และเน้นเรื่องการเพาะปลูกพืชสวนการเกษตร ปลอดสาร และ ทดลองโมเดลธุรกิจ เพื่อ
                หาความยั่งยืนใน การเกษตร ที่ตอบสนองเรื่องผลตอบแทนทางธุรกิจที่เหมาะสม</p>
        </div>
    </div>
</div>

<div class="item-zigzag clearfix contact-v2">
    <div class="col-sm-6 col-xs-12 col-sm-push-6">
        <div class="post-standard">
            <a>
                <figure><img src="assets/images/lanmittraphap-two/image_2@2x.png" alt="" class="img-responsive"></figure>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 feature-content col-sm-pull-6">
        <div class="wrap-right">
            <p class="content">ส่วนประกอบโครงการ</p>      
            <p class="content-detail">1. ห้องประชุม สัมนา ขนาด 550 ที่นั่ง <br>
                2. ห้องน้ำ ชาย 3 ห้อง หญิง 6 ห้อง <br>
                3. คาเฟ <br>
                4. ร้านสะดวกซื้อ<br>
                5. ปั้มน้ํามัน 4 หัวจ่าย <br>
                6. ที่จอดรถ 109 คัน </p>
        </div>
    </div>
</div>

<div class="item-zigzag clearfix contact-v1">
    <div class="col-sm-6 col-xs-12 ">
        <div class="post-standard">
            <a>
                <figure><img src="assets/images/lanmittraphap-two/image_3@2x.png" alt="" class="img-responsive"></figure>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 feature-content ">
        <div class="wrap-left">
            <p class="content">ห้องประชุม สัมนา <br> ขนาด 550 ที่นั่ง</p>
            <p class="content-detail">ห้อง สัมนา ความจุ 550 ที่นั่ง สามารถแยกเป็น 3 ห้อง ประชุมย่อยได้
                        จัดเลี้ยงโต๊ะจีนได้ 32 โต๊ะ</p>
        </div>
    </div>
</div>

<div class="item-zigzag clearfix contact-v2">
    <div class="col-sm-6 col-xs-12 col-sm-push-6">
        <div class="post-standard">
            <a>
                <figure><img src="assets/images/lanmittraphap-two/image_4@2x.png" alt="" class="img-responsive"></figure>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 feature-content col-sm-pull-6">
        <div class="wrap-right">
            <p class="content">ห้องน้ำ</p>      
            <p class="content-detail">ห้องน้ำชาย 3 ห้องส้วม 3 โถปัสสาวะ หญิง 6 ห้อง </p>
        </div>
    </div>
</div>

<div class="item-zigzag clearfix contact-v1">
    <div class="col-sm-6 col-xs-12 ">
        <div class="post-standard">
            <a>
                <figure><img src="assets/images/lanmittraphap-two/image_5@2x.png"  alt="" class="img-responsive"></figure>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 feature-content ">
        <div class="wrap-left">
            <p class="content">แปลงสาธิต และ โรงเรือน</p>
            <p class="content-detail">คาเฟ <br>
                ภายใน 28 ที่นั่ง ภายนอก 24 ที่นั่ง
            </p>
        </div>
    </div>
</div>

<div class="item-zigzag clearfix contact-v2">
    <div class="col-sm-6 col-xs-12 col-sm-push-6">
        <div class="post-standard">
            <a>
                <figure><img src="assets/images/lanmittraphap-two/image_6@2x.png" alt="" class="img-responsive"></figure>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 feature-content col-sm-pull-6">
        <div class="wrap-right">
            <p class="content">ร้านสะดวกซื้อ</p>      
            <p class="content-detail">ร้านสะดวกซื้อ ขนาดพื้นที่ 189 ตร.ม. </p>
        </div>
    </div>
</div>

  


<app-footer></app-footer>